.toggle-button {
        -fx-background-color: transparent;
}

.toggle-button:selected {
     -fx-background-color: #10508d;
}

.toggle-button .label {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1)
}

.titled-pane {
    -fx-background-color: #395cab;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.titled-pane .title {
        -fx-background-color: #395cab;
        -fx-text-fill: white;
        -fx-font-size: 12px;
}

.titled-pane .expanded {
        -fx-background-color: #395cab;

}

.tab-pane *.tab-header-background  {
            -fx-background-color: #395cab;

}

.cursor-img {
    -fx-background-image: url('images/cursor.png');
    -fx-background-position: center;
    -fx-background-size: 40 40;
}

/*.package-img {
    -fx-background-image: url('images/package.png');
    -fx-background-position: center;
    -fx-background-size: 40 40;
}*/

.obj-img {
     -fx-background-image: url('images/obj.png');
     -fx-background-position: center;
     -fx-background-size: 40 40;
 }

/* .tbox-img {
     -fx-background-image: url('images/tbox.png');
     -fx-background-position: center;
     -fx-background-size: 40 40;
 }*/

 .undirectedAssociation-img {
     -fx-background-image: url('images/New_Association.png');
     -fx-background-position: center;
     -fx-background-size: 80 25;
 }

 .aggregation-img {
     -fx-background-image: url('images/New_Aggregation.png');
     -fx-background-position: center;
     -fx-background-size: 80 25;
 }

 .composition-img {
     -fx-background-image: url('images/New_Composition.png');
     -fx-background-position: center;
     -fx-background-size: 80 25;
 }

 .dependency-img {
     -fx-background-image: url('images/New_Dependency.png');
     -fx-background-position: center;
     -fx-background-size: 80 25;
 }

 .directedAssociation-img {
      -fx-background-image: url('images/New_Uni_Directional_Association.png');
      -fx-background-position: center;
      -fx-background-size: 80 25;
  }

  .generalization-img {
      -fx-background-image: url('images/New_Generalization.png');
      -fx-background-position: center;
      -fx-background-size: 80 25;
  }

  .realization-img {
      -fx-background-image: url('images/New_Realization.png');
      -fx-background-position: center;
      -fx-background-size: 80 25;
  }

  .classbox-img {
        -fx-background-image: url('images/classbox.png');
        -fx-background-position: center;
        -fx-background-size: 40 40;
   }

  .itembox-img {
        -fx-background-image: url('images/itembox.png');
        -fx-background-position: center;
        -fx-background-size: 40 40;
   }

  .draghand-img {
        -fx-background-image: url('images/drag_hand.png');
        -fx-background-position: center;
        -fx-background-size: 40 40;
  }

  .deleteX-img {
        -fx-background-image: url('images/delete_x.png');
        -fx-background-position: center;
        -fx-background-size: 40 40;
  }
  .resizeArrows-img {
        -fx-background-image: url('images/resize_arrows.png');
        -fx-background-position: center;
        -fx-background-size: 40 40;
  }

  .ZoomIn-img {
        -fx-background-image: url('images/ZoomIn.png');
        -fx-background-position: center;
        -fx-background-size: 40 40;
  }

  .ZoomOut-img {
        -fx-background-image: url('images/ZoomOut.png');
        -fx-background-position: center;
        -fx-background-size: 40 40;
  }
  .pan-img {
        -fx-background-image: url('images/pan.png');
        -fx-background-position: center;
        -fx-background-size: 40 40;
  }

 .redo-img {
         -fx-background-image: url('images/redo.png');
         -fx-background-position: center;
         -fx-background-size: 50 50;
 }

 .undo-img {
         -fx-background-image: url('images/undo.png');
         -fx-background-position: center;
         -fx-background-size: 50 50;
 }

