.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.toggle-button {
        /*-fx-background-color:
              #090a0c,
              linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
              linear-gradient(#20262b, #191d22),
              radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));

          -fx-background-radius: 5,4,3,5;
          -fx-background-insets: 0,1,2,0;
          -fx-text-fill: white;
          -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
          -fx-font-family: "Arial";
          -fx-text-fill: linear-gradient(white, #d0d0d0);
          -fx-font-size: 10px;
*/
        -fx-background-color: transparent;
}

.toggle-button:selected {
     -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.toggle-button .label {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1)
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
    -fx-font-weight: bold;

}

.menu-bar {
       -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
        -fx-background-radius: 3,2,2,2;
        -fx-text-fill: white;
        -fx-font-size: 12px;
}

.titled-pane {
    -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.titled-pane .title {
        -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
        -fx-text-fill: white;
        -fx-font-size: 12px;
}

.titled-pane .expanded {
        -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
        -fx-background-radius: 3,2,2,2;

}

.tab-pane *.tab-header-background  {
            -fx-background-color:
                #000000,
                linear-gradient(#7ebcea, #2f4b8f),
                linear-gradient(#426ab7, #263e75),
                linear-gradient(#395cab, #223768);

}

.cursor-img {
    -fx-background-image: url('images/cursor.png');
    -fx-background-position: center;
    -fx-background-size: 40 40;
}

.package-img {
    -fx-background-image: url('images/package.png');
    -fx-background-position: center;
    -fx-background-size: 40 40;
}

.obj-img {
     -fx-background-image: url('images/obj.png');
     -fx-background-position: center;
     -fx-background-size: 40 40;
 }

 .tbox-img {
     -fx-background-image: url('images/tbox.png');
     -fx-background-position: center;
     -fx-background-size: 40 40;
 }

 .association-img {
     -fx-background-image: url('images/line.png');
     -fx-background-position: center;
     -fx-background-size: 80 25;
 }

 .aggregation-img {
     -fx-background-image: url('images/aggregation.png');
     -fx-background-position: center;
     -fx-background-size: 80 25;
 }

 .composition-img {
     -fx-background-image: url('images/composition.png');
     -fx-background-position: center;
     -fx-background-size: 80 25;
 }

 .dependancy-img {
     -fx-background-image: url('images/dependancy.png');
     -fx-background-position: center;
     -fx-background-size: 80 25;
 }

 .generalization-img {
      -fx-background-image: url('images/generalization.png');
      -fx-background-position: center;
      -fx-background-size: 80 25;
  }

  .inheritance-img {
      -fx-background-image: url('images/inheritance.png');
      -fx-background-position: center;
      -fx-background-size: 80 25;
  }

  .realization-img {
      -fx-background-image: url('images/realization.png');
      -fx-background-position: center;
      -fx-background-size: 80 25;
  }

  .classbox-img {
        -fx-background-image: url('images/classbox.png');
        -fx-background-position: center;
        -fx-background-size: 40 40;
   }

  .itembox-img {
        -fx-background-image: url('images/itembox.png');
        -fx-background-position: center;
        -fx-background-size: 40 40;
   }

  .draghand-img {
        -fx-background-image: url('images/drag_hand.png');
        -fx-background-position: center;
        -fx-background-size: 40 40;
  }

  .deleteX-img {
        -fx-background-image: url('images/delete_x.png');
        -fx-background-position: center;
        -fx-background-size: 40 40;
  }
  .resizeArrows-img {
        -fx-background-image: url('images/resize_arrows.png');
        -fx-background-position: center;
        -fx-background-size: 40 40;
  }
